<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/style.css">
    <title>vitual products</title>
</head>
<body>
    <nav>
        <h1>header</h1>
    </nav>
    <section>{{{body}}}</section>
    <footer>
        <p>rodapé</p>
    </footer>

    <script>
        function getId(){
            console.log(event.target.id);

            window.location.href = '/' + event.target.id;
        }
    </script>
</body>
</html>