<h1>Cadastrar seu livro:</h1>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Título</label>
        <input type="text" name="title" placeholder="nome do livro"/>
    </div>
    <div class="form-control">
        <label for="pageqty">Número de páginas</label>
        <input type="text" name="pageqty" placeholder="Quantas paginas?"/>
    </div>
    <input type="submit" value="Cadastrar">
</form>