<form action="/insert/releases" method="POST">
    <div class="input">
        <label for="description">Description
            <input type="text" name="description" placeholder="Expense description">
        </label>
    </div>
    <div class="input">
        <label for="category">Category
            <input type="text" name="category" placeholder="Category">
        </label>
    </div>
    <div class="input">
        <label for="value">Value
            <input type="number" step="0.01" name="value" placeholder="R$ Value">
        </label>
    </div>
    <input class="btn-submit" type="submit" value="Submit"/>
</form>