<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/styles.css">
    <title>finance</title>
</head>
<body>
    <nav>
        <div class="logo">Logo</div>
        <h1>finance</h1>
        <div class="menu">
            <a href="/">Cadastrar</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </nav>
    <section>{{{body}}}</section>
    <footer>footer</footer>
</body>
</html>