*{
    margin:0;padding:0;box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: darkgrey;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
section{
    width: 95%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #fff;
}
.container{
    width: 90%;
    height: 30em;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 1em auto;

    background-color: #9dc9fc;
}
.containers{
    width: 18%;
    height: 20em;
    margin: 5em auto;

    background-color: dimgrey;
}
h1{
    margin-inline: auto;
}