*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    background-color: darkgray;
}
nav{
    width: 100%;
    padding: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu, .logo{
    min-width: 20%;
}
.menu{
    left: 0;
}
section{
    max-width: 40em;
    min-width: 20em;
    margin: 2em auto ;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer{
    width: 100%;
    padding: 1em;
    bottom: 0;
    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;
}
label{
    width: 90%;
    height: 3em;
    padding: .2em;

    margin: .1em auto;

    display: flex;
    flex-direction: column;
}
label input{
    height: 2em;
    padding: 1em .5em;
}
.btn-submit{
    width: 90%;
    height: 2em;
    padding: .2em;

    margin: 1em auto;

    cursor: pointer;
}




/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
  }
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  

  th {
    background-color: #f2f2f2;
    color: black;
  }
  

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  

  th {
    background-color: #4CAF50;
    color: white;
  }
  
  tr:hover {
    background-color: #ddd;
  }
  